<h1>Enter the name of the album</h1>

<form action="/albums" method="post">
  <label for="name">Title</label>
  <input type="text" name="name">
  <label for="artist_id"></label>
  <input type="text" name=“artist_id” value=“#{@artist_id}”>

  <input type="submit" value="Add album">
  </form>