<h1>Enter the name of the album</h1>

<form action="/albums" method="post">
  <!-- <select name="artist_id">
    <option value="1">Oasis</option>
    <option value="2">Blur</option>
  <label for="name">Title</label> -->
  <Select name=artist_id>
  <% @artists.each do |artist| %>
  <option value=<%=artist.id%>><%=artist.name%></option>
  <%end%>
  </select>
  
  <!-- <label for="artist_id"></label>
  <input type="text" name=“artist_id” value=“#{@artist_id}”> -->

  <input type="submit" value="Add album">
  </form>