body {
  background-image: url(https://motionarray.com/assets/audio-placeholders/thumb_02.png);
}

h1 {
  font-family: "arial";
  color: grey;
}

h3 { 
  font-family: "arial";
  color: grey;
}

label {
  font-family: "arial";
  color: grey;
}

p {
  font-family: "arial";
  color: grey;
}